.notFound {
  @apply flex
    size-full
    flex-col
    items-center
    justify-center
    gap-4
    text-center;

  h1 {
    @apply text-5xl
      font-bold
      lg:text-6xl;
  }

  p {
    @apply text-xl
    text-gray-500
    dark:text-gray-400;
  }

  a {
    @apply inline-flex
      items-center
      justify-center
      gap-2
      rounded
      bg-ether-500
      px-4
      py-2
      text-lg
      text-white
      transition-colors
      duration-300
      hover:bg-ether-600
      dark:hover:bg-ether-500;

    svg {
      @apply inline-block
          size-6;
    }
  }
}
